resources:
- name: ximble-network
  type: compute.v1.network
  properties:
   autoCreateSubnetworks: false
- type: compute.v1.subnetwork 
  name: ximble-subnet
  properties: 
   network: $(ref.ximble-network.selfLink) 
   region: us-central1 
   ipCidrRange: 10.2.0.0/16

